.mat-tab-group {
  position: sticky;
}

.mat-tab-header {
  width: 100%;
  max-width: $screen-xs;
  margin: 0 auto;
  // position: sticky !important;
  // top: 0;
  // z-index: 1000;

  @include screen-sm {
    margin: -47px auto 0;
  }
}

// .mat-tab-group.mat-background-primary .mat-tab-label-active {
//   color: $color-primary;
//   background: $white;
//   opacity: 1;
// }

// .mat-tab-group.mat-primary.mat-background-primary .mat-ink-bar {
//   background-color: $color-primary;
// }

// .mat-tab-labels {
//   border-top-left-radius: 4px;
//   border-bottom-right-radius: 4px;
// }

// .mat-tab-label {
//   &:first-child {
//     border-top-left-radius: 4px;
//   }

//   &:last-child {
//     border-bottom-right-radius: 4px;

//   }
// }
