@import "../../../styles/tools/variables";
@import "../../../styles/tools/mixins";

.title {
  margin: 0 auto 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__group {
  width: 100%;
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: column;
}

.date-picker {
  width: 250px;
}

.radio-button {
  padding: 0.5rem 0;

  @include screen-sm {
    padding: 0.5rem 1rem;
  }
}

h3{
  margin: 1rem 0;
}
