:host {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

:host(.spinner--xs) {
  margin: 1rem;
  .spinner {
    width: 30px !important;
    height: 30px !important;
    ::ng-deep {
      svg {
        width: 30px !important;
        height: 30px !important;
      }
    }
  }
}

.spinner {
  width: 50px !important;
  height: 50px !important;
  ::ng-deep {
    svg {
      width: 50px !important;
      height: 50px !important;
    }
  }
}
