<div matDialogTitle>
  <h2 class="title">
    <strong class="color-primary-font">{{ formule.title }}</strong> -
    {{ formule.ageGroup }}
    <ng-container *ngIf="formule.ageGroup === ageGroup.KIDS">
      <small> - {{ formule.kidAge }}</small>
    </ng-container>
  </h2>
</div>
<mat-dialog-content class="dialog__content">
  <!-- Location -->
  <p class="display-flex flex-column">
    <strong>Lieu:</strong>
    <span>{{ formule.location }}</span>
    <span>{{ formule.street }}</span>
  </p>

  <!-- Schedules -->
  <p class="display-flex flex-column schedules__container">
    <strong>Horaires:</strong>
    <span class="display-flex" *ngFor="let schedule of formule.schedules">
      <span class="color-primary-font bold schedules__day"
        >{{ schedule.day }}:
      </span>
      <span>{{ schedule.time }}</span>
    </span>
  </p>

  <p *ngIf="formule.physicalClass" class="display-flex align-center">
    <mat-icon color="primary">check</mat-icon> Cours en présentiel
  </p>
  <p *ngIf="formule.onlineAccess" class="display-flex align-center">
    <mat-icon color="primary">check</mat-icon>
    Accès illimité au contenu en ligne
  </p>
  <p *ngIf="formule.graduation" class="display-flex align-center">
    <mat-icon color="primary">check</mat-icon>
    Passage de grade
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onCancel()" type="button">
    Fermer
  </button>
</mat-dialog-actions>
