<div>
  <p>Choix du groupe:</p>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle
      *ngFor="let ageGroup of ageGroups; let groupNumber = index"
      [value]="groupNumber"
      [checked]="groupNumber === 0"
      (change)="ageGroupOptionHandler($event)"
    >
      {{ ageGroup }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>

<section class="tab-section" *ngIf="!isLoading">
  <member-data-table
    [subscriptionAgeMode]="subscriptionAgeMode"
    [membersData]="membersData"
  ></member-data-table>
</section>
