<div
  *ngIf="(formules$ | async)?.length && !isLoading"
  class="select__container"
>
  <!-- <mat-button-toggle-group vertical name="fontStyle" aria-label="Font Style">
    <mat-button-toggle
      *ngFor="let formule of formules$ | async; let formuleIndex = index"
      [value]="{ formId: formule._id, formuleAge: formule.ageGroup }"
      [checked]="formuleIndex === 0"
      (change)="formuleOptionHandler($event)"
    >
      {{ formule.title }} -
      <span class="color-primary-font bold">{{ formule.ageGroup }}</span>
      {{ formule.kidAge }}
    </mat-button-toggle>
  </mat-button-toggle-group> -->

  <mat-form-field appearance="fill">
    <mat-label>Sélectionnez une formule</mat-label>
    <mat-select (selectionChange)="formuleOptionHandler($event)">
      <mat-option
        *ngFor="let formule of formules$ | async; let formuleIndex = index"
        [value]="formule"
      >
        {{ formule.title }} -
        <span class="color-primary-font bold">{{ formule.ageGroup }}</span>
        {{ formule.kidAge }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-spinner *ngIf="isLoading" class="spinner" color="accent" diameter="50"></mat-spinner>

<section class="tab-section" *ngIf="!isLoading">
  {{ name }}
  <member-data-table
    [subscriptionAgeMode]="subscriptionAgeMode"
    [membersData]="membersData"
    (updateTable$)="onUpdateUsers()"
  ></member-data-table>
</section>
