@import "../../../styles/tools/variables";
@import "../../../styles/tools/mixins";

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: calc(100vh - 130px);
  background: url("../../../assets/mobile/tico-bananeira-mobile.jpg");
  background-size: cover;
  background-position: bottom;

  @include screen-sm {
    background-image: url("../../../assets/desktop/tico-bananeira-desktop.jpg");
    background-position: initial;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 0 3rem;

  @include screen-sm {
    width: 30%;
  }
}

.btn--navigate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: $color-primary;
  border: 1px solid $white;
  border-radius: 4px;
  color: $white;
  text-transform: uppercase;
  transition: 0.2s ease-in;
  box-shadow: 0 0 10px 1px $black;
  &__content {
    font-size: 2rem;
  }
  &:hover {
    background: $white;
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}

.section__content {
  max-width: $screen-lg;
  margin: 0 auto;
}

.welcome {
  text-align: center;
  padding: 1rem;
}

.description {
  display: flex;
  align-items: center;
  min-height: 500px;
  background: url("../../../assets/mobile/meia-lua-mobile.jpg");
  background-size: cover;
  padding: 1rem;
  text-align: center;

  @include screen-sm {
    background-image: url("../../../assets/desktop/meia-lua-desktop.jpg");
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    max-width: $screen-md;
    margin: 0 auto;

    @include screen-sm {
      flex-direction: row;
    }
  }

  &__item {
    background: $white;
    margin: 0 0 1rem;
    text-align: center;

    @include screen-sm {
      margin: 0 1rem 1rem;
      flex: 1;
    }
  }

  &__title {
    background: $color-primary;
    color: $white;
    padding: 1rem;
    font-size: 1.2rem;
  }

  &__content {
    padding: 1rem;

    @include screen-sm {
      display: flex;
      align-items: center;
      min-height: 140px;
    }
  }

  .btn__container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .btn {
      display: block;
      margin: 1rem auto;
    }
  }
}
