@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

:host {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - (56px + 132px));

  @include screen-sm {
    min-height: calc(100% - (64px + 114px));
  }
}

h1 {
  margin: 3rem auto 0;
}

.warning-text {
  text-align: center;
  color: $mild-warning;
}

mat-card {
  width: 100%;
  max-width: $screen-xs;
}

.form__container {
  display: flex;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  .login-form {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  .error-message__content {
    text-align: center;
  }
}

.btn {
  display: block;
  margin: 2rem auto;
}

.login__toggle-form {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
