<h1 class="color-primary-font">Réinitialisation du mot de passe</h1>

<div class="form__container">
  <mat-spinner *ngIf="isLoading" diameter="50" color="accent"></mat-spinner>

  <div
    class="error-message__container"
    *ngIf="!isLoading && passwordResetFailed"
  >
    <p class="error-message__content">
      Une erreur est survenue, veuillez réessayer
    </p>
    <atom-button
      class="btn"
      [type]="'button'"
      [text]="RELOAD_BTN_TEXT"
      (click)="onReload()"
    ></atom-button>
  </div>

  <p *ngIf="!isLoading && tokenInvalid" class="text-center">
    Le lien n'a pas pu être validé, veuillez refaire une demande de mot passe:
    <a routerLink="/mot-de-passe-oublié" class="link">
      demande de mot de passe
    </a>
  </p>

  <p
    *ngIf="!isLoading && passwordResetSuccess"
    class="color-primary-font text-center"
  >
    Votre mot de passe a été réinitialisé avec succès.
  </p>

  <mat-card
    *ngIf="
      !isLoading &&
      !tokenInvalid &&
      !passwordResetSuccess &&
      !passwordResetFailed
    "
  >
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field>
        <input
          matInput
          placeholder="Nouveau mot de passe"
          type="password"
          formControlName="newPassword"
          required
        />
        <mat-error
          *ngIf="!resetForm.get('newPassword').valid && resetForm.touched"
          >Veuillez renseigner un mot de passe valide.</mat-error
        >
      </mat-form-field>
      <atom-button
        class="btn"
        [type]="'submit'"
        [text]="SUBMIT_BTN_TEXT"
        [isDisabled]="resetForm.invalid"
      ></atom-button>
    </form>
  </mat-card>
</div>
