@import "../../../styles/tools/variables";
@import "../../../styles/tools/mixins";

:host {
  max-width: 320px;
  width: 100%;
}

.card {
  max-width: 320px;
  margin: 1rem;
  // padding: 0;

  // &__header {
  //   padding: 1rem;
  //   background-color: $color-primary-light;
  //   color: $white;
  //   text-align: center;
  // }

  &__actions {
    display: flex;
    justify-content: center;
    .btn {
      margin: 1rem auto;
    }
  }
}
