<mat-card class="card">
  <mat-card-header class="card__header">
    <mat-checkbox
      *ngIf="mode === USER"
      [checked]="isChecked"
      (change)="onToggleCheck()"
      [labelPosition]="'before'"
    >
      <mat-card-title>{{ formule.title }} </mat-card-title>
    </mat-checkbox>
  </mat-card-header>

  <!-- <mat-divider [inset]="true"></mat-divider> -->
  <mat-divider></mat-divider>

  <mat-card-content class="card__content">
    <p>Année : {{ formule.price}}€</p>
    <p>{{ formule.details }}</p>
    <p *ngIf="mode === ADMIN">{{ formule.coupon ? HAS_COUPON : NO_COUPON }}</p>
  </mat-card-content>

  <mat-card-actions *ngIf="mode === ADMIN" align="end" class="card__actions">
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="onDeleteFormule(formule)"
    >
      Supprimer
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="onUpdateFormule(formule)"
    >
      Modifier
    </button>
  </mat-card-actions>

  <mat-card-actions *ngIf="mode === USER" class="card__actions">
    <button
      mat-raised-button
      color="accent"
      type="button"
      class="btn"
      (click)="onDisplayDetails(formule)"
    >
      Détails
    </button>
  </mat-card-actions>
</mat-card>
