<h1 class="color-primary-font">Admin</h1>

<!-- {{ isAuth }} -->

<section class="main-section">
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="Inscriptions">
      <ng-template matTabContent>
        <subscriptions-admin-organism></subscriptions-admin-organism>
      </ng-template>
    </mat-tab>
    <mat-tab label="Formules">
      <ng-template matTabContent>
        <organism-admin-formule></organism-admin-formule>
      </ng-template>
    </mat-tab>
    <mat-tab label="Utilisateurs">
      <ng-template matTabContent>
        
      </ng-template>
    </mat-tab>
    <mat-tab label="Cours">
      <ng-template matTabContent> </ng-template>
    </mat-tab>
    <mat-tab label="Boutique"> </mat-tab>
    <mat-tab label="Espace privé"> </mat-tab>
  </mat-tab-group>
</section>
