<h1 class="color-primary-font">Admin</h1>

<mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>

<section class="adult-section" *ngIf="!isLoading">
  <ul class="data-table__container">
    <li class="data-table__item data-table__item__header">
      <div>Nom</div>
      <div>Prénom</div>
      <div>Date de naissance</div>
      <div>Email</div>
      <div>Téléphone</div>
      <div>Info Supplémentaire</div>
      <div>Droit à l'image</div>
    </li>
    <li
      class="data-table__item"
      [ngClass]="{ odd: odd, even: even }"
      *ngFor="let data of adultData; let even = even; let odd = odd"
    >
      <div>{{ data.lastName }}</div>
      <div>{{ data.firstName }}</div>
      <div>{{ data.birthdate }}</div>
      <div>{{ data.email }}</div>
      <div>{{ data.phone }}</div>
      <div>{{ data.extraInfo }}</div>
      <div
        class="lastchild"
        [ngClass]="data.imageRights ? 'primary-color' : 'warning-color'"
      >
        {{ data.imageRights ? "Oui" : "Non" }}
      </div>
    </li>
  </ul>

  <div class="btn-container">
    <p>Télécharger les informations au format Excel</p>
    <a class="link-btn" href="{{ ADULT_EXCEL_URL }}">Télécharger</a>
  </div>
</section>
