<h1 class="color-primary-font">Mot de passe oublié</h1>
<p>Veuillez renseigner votre adresse email</p>
<div class="form__container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <div class="error-message__container" *ngIf="!isLoading && unknowError">
    <p class="error-message__content">
      Une erreur est survenue, veuillez réessayer
    </p>
    <atom-button
      class="btn"
      [type]="'button'"
      [text]="RELOAD_BTN_TEXT"
      (click)="onReload()"
    ></atom-button>
  </div>

  <p *ngIf="successMessage" class="color-primary text-center">
    Un email vient de vous être envoyé. Cliquez sur le lien pour réinitialiser
    votre mot de passe.
  </p>

  <mat-card *ngIf="!isLoading && !successMessage && !unknowError">
    <form
      [formGroup]="requestResetForm"
      (ngSubmit)="onSubmit()"
      class="login-form"
    >
      <p *ngIf="noUserFound" class="warning-text text-center">
        Cette adresse email n'est associée à aucun compte.
      </p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="email"
          type="text"
          formControlName="email"
        />
        <mat-error *ngIf="!requestResetForm.get('email').valid && !isValidForm"
          >Veuillez renseigner votre email</mat-error
        >
      </mat-form-field>
      <atom-button
        class="btn"
        [type]="'submit'"
        [text]="SUBMIT_BTN_TEXT"
        [isDisabled]="requestResetForm.invalid"
      ></atom-button>
    </form>
  </mat-card>
</div>
