@import '../styles/tools/variables';
@import '../styles/tools/mixins';

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  min-height: 56px;

  @include screen-sm {
    min-height: 64px;
  }
}

.logo-container {
  width: 40px;
}

.sidenav-container {
  flex: 1 auto;
}

.nav-item {
  font-size: 1rem;
  border-bottom: 1px solid $color-primary;

  &.active,
  &:active {
    color: $white;
    background: $color-primary;
  }

  @include screen-sm {
    border: none;
    padding: 0 1rem;

    .nav-link {
      border-bottom: 2px solid $color-primary;

      &:hover,
      &.active,
      &:active {
        border-bottom: 2px solid $white;
      }
    }
  }
}

// DESKTOP
nav {
  ul {
    display: flex;
  }
}
