<div class="main-container">
  <mat-toolbar color="primary" class="toolbar">
    <!-- MOBILE -->
    <div
      *ngIf="mobileQuery.matches"
      routerLink="/accueil"
      (click)="closeNav()"
      class="logo-container"
    >
      <ics-logo [color]="'white'"></ics-logo>
    </div>
    <!-- <button mat-icon-button (click)="snav.toggle() && toggle()"> -->
    <button *ngIf="mobileQuery.matches" mat-icon-button (click)="toggleNav()">
      <mat-icon>{{ navToggle?.opened ? "close" : "menu" }}</mat-icon>
    </button>
    <!-- DESKTOP -->
    <div *ngIf="!mobileQuery.matches" class="title">
      <a routerLink="/accueil">ICS</a>
    </div>
    <nav *ngIf="!mobileQuery.matches">
      <ul>
        <li class="nav-item">
          <a routerLink="/accueil" routerLinkActive="active" class="nav-link"
            >Accueil</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/ics" routerLinkActive="active" class="nav-link"
            >A propos de nous</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/programmes" routerLinkActive="active" class="nav-link"
            >Nos programmes</a
          >
        </li>
        <!-- <li class="nav-item">
          <a routerLink="/media" routerLinkActive="active" class="nav-link"
            >Medias</a
          >
        </li> -->
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active" class="nav-link"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="over" position="end">
      <mat-nav-list>
        <a
          mat-list-item
          class="nav-item"
          (click)="toggleNav()"
          routerLink="/accueil"
          routerLinkActive="active"
          >Accueil</a
        >
        <a
          mat-list-item
          class="nav-item"
          (click)="toggleNav()"
          routerLink="/ics"
          routerLinkActive="active"
          >A propos de nous</a
        >
        <a
          mat-list-item
          class="nav-item"
          (click)="toggleNav()"
          routerLink="/programmes"
          routerLinkActive="active"
          >Nos programmes</a
        >
        <!-- <a
          mat-list-item
          class="nav-item"
          (click)="toggleNav()"
          routerLink="/media"
          routerLinkActive="active"
          >Medias</a
        > -->
        <a
          mat-list-item
          class="nav-item"
          (click)="toggleNav()"
          routerLink="/contact"
          routerLinkActive="active"
          >Contact</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <ics-footer></ics-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
