@import '../styles/tools/variables';
@import '../styles/tools/mixins';

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  min-height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zindex-header;

  @include screen-sm {
    min-height: 64px;
  }
}

.spacer {
  min-height: 56px;

  @include screen-sm {
    min-height: 64px;
  }
}

.logo-container {
  width: 40px;

  &:focus {
    outline: none;
  }
}

.sidenav-container {
  flex: 1 auto;
}

.nav-item {
  font-size: 0.8rem;
  border-bottom: 1px solid $color-primary;
  &.active,
  &:active {
    color: $white;
    background: $color-primary;
  }

  @include screen-sm {
    border: none;
    padding: 0 1rem;

    .nav-link {
      border-bottom: 1px solid $color-primary;

      &:hover,
      &.active,
      &:active {
        border-bottom: 1px solid $white;
      }
    }
  }
}

// .btn__container {
//   display: flex;
//   justify-content: center;
//   padding: 1rem;
// }

// DESKTOP
nav {
  ul {
    display: flex;
    align-items: center;
  }
}
