<div class="main-container">
  <mat-toolbar color="primary" class="toolbar">
    <!-- MOBILE -->
    <ics-logo *ngIf="mobileQuery.matches"></ics-logo>
    <!-- <button mat-icon-button (click)="snav.toggle() && toggle()"> -->
    <button *ngIf="mobileQuery.matches" mat-icon-button (click)="toggleNav()">
      <mat-icon>{{ navToggle?.opened ? "close" : "menu" }}</mat-icon>
    </button>
    <!-- DESKTOP -->
    <h1 *ngIf="!mobileQuery.matches" class="title">
      <a routerLink="/home">ICS</a>
    </h1>
    <nav *ngIf="!mobileQuery.matches">
      <ul>
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link"
            >Accueil</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" class="nav-link"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/programs" routerLinkActive="active" class="nav-link"
            >Programs</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/media" routerLinkActive="active" class="nav-link"
            >Media</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active" class="nav-link"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="over" position="end">
      <mat-nav-list>
        <a
          mat-list-item
          class="nav-item"
          (click)="toggleNav()"
          routerLink="/home"
          routerLinkActive="active"
          >Home</a
        >
        <a
          mat-list-item
          class="nav-item"
          (click)="toggleNav()"
          routerLink="/programs"
          routerLinkActive="active"
          >Programs</a
        >
        <a
          mat-list-item
          class="nav-item"
          (click)="toggleNav()"
          routerLink="/about"
          routerLinkActive="active"
          >About</a
        >
        <a
          mat-list-item
          class="nav-item"
          (click)="toggleNav()"
          routerLink="/media"
          routerLinkActive="active"
          >Media</a
        >
        <a
          mat-list-item
          class="nav-item"
          (click)="toggleNav()"
          routerLink="/contact"
          routerLinkActive="active"
          >Contact</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <ics-footer></ics-footer>
</div>
