@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

:host {
  min-height: 100%;
  display: flex;
  flex-flow: column;
}

.main {
  flex: 1;
  background: $white;
}

.contact-header {
  padding: 1rem;

  &__content {
    text-align: center;
    margin: 2rem 0;
  }
}

.logo-container {
  width: 80px;
  margin: 0 auto;

  @include screen-sm {
    width: 130px;
  }
}

mat-card {
  width: 100%;
  max-width: $screen-xs;
}

.contact-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  max-width: 400px;
  // align-content: center;

  .btn {
    margin: 1rem auto;
  }
}

.error-message {
  margin: 0 auto 1rem;
}

.contact-message-successful {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 1rem;

  .btn-container {
    display: flex;
    flex-flow: column;

    @include screen-sm {
      flex-flow: row;
      justify-content: center;
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
}
