<main class="main">
  <section class="contact-header">
    <p class="title-xl">
      {{ "Contact" | uppercase }}
    </p>
    <p class="contact-header__content">
      Contactez-nous pour toute question concernant les cours, tarifs,
      inscriptions ou pour d'autres informations.
      <br />
      WhatsApp :
      <a class="phone-number" href="tel:+33695616167"> 06 95 61 61 67 </a>
      <br />
      contact@icsfrance.fr
    </p>
    <div class="logo-container">
      <ics-logo [showSubTitle]="true" [color]="'minsk'"></ics-logo>
    </div>
  </section>
  <section class="contact-form__container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <p class="error-message" *ngIf="!isLoading && isSendMessageFailed && !isMessageSent">
      Votre message n'a pas pu être envoyé. Veuillez réessayer.
    </p>

    <mat-card *ngIf="!isLoading && !isMessageSent">
      <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput type="text" name="lastName" formControlName="lastName" required />
          <mat-error *ngIf="contactForm.get('lastName').invalid && contactForm.touched">Veuillez renseigner votre nom
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Prénom</mat-label>
          <input matInput type="text" name="firstName" formControlName="firstName" required />
          <mat-error *ngIf="contactForm.get('firstName').invalid && contactForm.touched">Veuillez renseigner votre
            prénom</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput type="email" name="email" formControlName="email" required />
          <mat-error *ngIf="contactForm.get('email').invalid && contactForm.touched">Veuillez renseigner votre email
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Message</mat-label>
          <textarea matInput name="message" formControlName="message" required></textarea>
          <mat-error *ngIf="contactForm.get('message').invalid && contactForm.touched">Veuillez écrire un message
          </mat-error>
        </mat-form-field>
        <atom-button class="btn" type="submit" [text]="'Envoyer'" [isDisabled]="contactForm.invalid">
        </atom-button>
      </form>
    </mat-card>

  </section>
  <section *ngIf="!isLoading && isMessageSent" class="contact-message-successful">
    <p>
      Merci, votre message a bien été envoyé. Nous vous répondrons le plus tôt
      possible.
    </p>
    <div class="btn-container">
      <atom-button class="btn" [text]="homeBtnText" (clickEvent)="onNavigateHome($event)"></atom-button>
      <atom-button class="btn" [text]="programBtnText" (clickEvent)="onNavigatePrograms($event)"></atom-button>
    </div>
  </section>
</main>