<form
  class="contact-form"
  [formGroup]="subscriptionForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form-section">
    <p class="form-section__label">Adhérent</p>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input
          matInput
          type="text"
          name="memberLastName"
          formControlName="memberLastName"
          required
        />
        <mat-error
          *ngIf="
            subscriptionForm.get('memberLastName').invalid &&
            subscriptionForm.touched
          "
          >Veuillez renseigner le nom</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input
          matInput
          type="text"
          name="memberFirstName"
          formControlName="memberFirstName"
          required
        />
        <mat-error
          *ngIf="
            subscriptionForm.get('memberFirstName').invalid &&
            subscriptionForm.touched
          "
          >Veuillez renseigner le prénom</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" class="date-picker">
        <mat-label>Date de naissance</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="birthdate"
          required
          disabled
        />
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
        <mat-error
          *ngIf="
            subscriptionForm.get('birthdate').invalid &&
            subscriptionForm.touched
          "
          >Veuillez renseigner la date de naissance</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          matInput
          type="email"
          name="email"
          formControlName="email"
          required
        />
        <mat-error
          *ngIf="
            subscriptionForm.get('email').invalid && subscriptionForm.touched
          "
          >Veuillez renseigner votre email</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Téléphone</mat-label>
        <input
          matInput
          type="text"
          name="phone"
          formControlName="phone"
          required
        />
        <mat-error
          *ngIf="
            subscriptionForm.get('phone').invalid && subscriptionForm.touched
          "
          >Veuillez renseigner votre numéro de téléphone</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="form-section">
    <p class="form-section__label">Droit à l'image</p>
    <div class="form-group">
      <mat-checkbox formControlName="imageRights"
        >J'autorise ACDO et ACDOIDFP, groupe ICS France, à utiliser mon image à
        des fins de communication des activités du groupe ICS
        France</mat-checkbox
      >
    </div>
  </div>
  <div class="form-section">
    <p class="form-section__label">Informations supplémentaires</p>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Détails</mat-label>
        <textarea
          matInput
          name="extraInfo"
          formControlName="extraInfo"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
  <atom-button
    class="btn"
    [type]="'submit'"
    [text]="'Envoyer'"
    [isDisabled]="subscriptionForm.invalid"
  >
  </atom-button>
</form>
