@import "../../../styles/tools/variables";
@import "../../../styles/tools/mixins";

:host {
  display: block;
  padding: 1rem;
}

.select__container {
  .mat-form-field {
    width: 400px;
  }
}

.spinner {
  margin: 0 auto;
}

.price-input__container {
  form {
    display: flex;
    align-items: center;
    p {
      margin: 0 1rem 0 0;
    }
    mat-form-field {
      margin: 0 1rem 0 0;
    }
  }
}

.tab-section {
  margin: 1rem 0;
}
