@use "sass:color";

///////////
// COLORS
///////////

$white: #ffffff;
$black: #000000;

$minsk: #393185;
$grey: #ccc;

$cod-gray: #191919;
$sasquatch-socks: #ff4081;

$red: #f44336;
$sea-buckthorn: #f4a734;

$color-primary: $minsk;
$color-secondary: $cod-gray;
$color-accent: $sasquatch-socks;

$color-warning: $red;
$mild-warning: $sea-buckthorn;

// #7b6dff

$color-primary-light: color.scale($minsk, $lightness: 50%);
$color-primary-lighter: color.scale($minsk, $lightness: 70%);

$grey-dark: darken($cod-gray, 0.5);

// $color-secondary: $yellow-sea;
// $color-tertiary: $mirage;

//////////
// FONTS
//////////

// Roboto
$fontPoppins: 'Poppins', 'Roboto', sans-serif;

$fontOswald: 'Oswald', 'Roboto', sans-serif;

////////////////
// FONT WEIGHT
////////////////

$fontWeightLight: 300;
$fontWeightBase: 400;
$fontWeightSemi: normal;
$fontWeightBold: bold;
$fontWeightBolder: bolder;

/////////////////
// Z-INDEX
/////////////////
$zindex-header: 50;
$zindex-modal: 100;

/////////////////
// SCREEN SIZES
/////////////////

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
