@import "../../../styles/tools/variables";
@import "../../../styles/tools/mixins";

.main {
  background: $white;
}

.section__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .hero {
    background: url('../../../assets/mobile/final-da-roda-mobile.jpg');
    background-size: cover;

    @include screen-sm {
      background-image: url('../../../assets/desktop/final-da-roda-desktop.jpg');
    }
  }

  .logo-container {
    width: 100px;
    margin: 3rem auto;

    @include screen-sm {
      width: 170px;
      margin: 3rem auto 5rem;
    }
  }
}

.tab__content {
  h1 {
    max-width: $screen-md;
    margin: 0 auto;
    padding: 1rem;
    color: $color-primary;

    @include screen-sm {
      padding: 2rem 1rem 1rem;
    }
  }

  p {
    max-width: $screen-md;
    margin: 0 auto;
    padding: 0 1rem 1rem;
  }
}

.bottom-image {
  width: 100%;
  min-height: 300px;
  background: url('../../../assets/mobile/roda-blurry-mobile.jpg');
  background-size: cover;

  @include screen-sm {
    min-height: 700px;
    background-image: url('../../../assets/desktop/roda-blurry-desktop.jpg');
  }
}

// PROFILE

.profile {
  &__container {
    max-width: $screen-md;
    margin: 0 auto;
    padding: 1rem;
  }

  &__info {
    display: flex;
    align-items: center;
    margin: 0 0 1rem;

    img {
      width: 70px;
      border-radius: 100px;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
      margin: 0 1rem 0 0;
    }

    h2 {
      font-size: inherit;
      color: $color-primary;
      font-weight: $fontWeightBold;
    }
  }

  &__description {
    p {
      margin: 0 0 1rem;
    }
  }
}
