<h2 class="title">
  {{ DIALOG_TITLE }}
  <strong *ngIf="!loading" class="color-primary-font">
    {{ user.firstName }} {{ user.lastName }}
  </strong>
</h2>

<mat-dialog-content>
  <atom-spinner
    *ngIf="loading"
    [color]="'accent'"
    class="spinner"
  ></atom-spinner>

  <form
    *ngIf="(user$ | async) && !loading"
    class="form"
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form__group">
      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input
          matInput
          type="text"
          name="firstName"
          formControlName="firstName"
          required
        />
        <mat-error
          *ngIf="
            userForm.get('firstName').invalid &&
            userForm.get('firstName').touched
          "
          >Veuillez renseigner le prénom</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input
          matInput
          type="text"
          name="lastName"
          formControlName="lastName"
          required
        />
        <mat-error
          *ngIf="
            userForm.get('lastName').invalid && userForm.get('lastName').touched
          "
          >Veuillez renseigner le nom</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          matInput
          type="email"
          name="email"
          formControlName="email"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date d'inscription</mat-label>
        <input
          matInput
          type="text"
          name="signUpDate"
          formControlName="signUpDate"
          required
        />
      </mat-form-field>

      <mat-checkbox class="margin-bottom-1" formControlName="paymentMade">
        Status du paiement :
        <strong
          [ngClass]="
            userForm.get('paymentMade').value ? 'color-primary' : 'danger'
          "
        >
          {{ userForm.get("paymentMade").value ? "OK" : "A régler" }}
        </strong>
      </mat-checkbox>

      <mat-form-field class="form__group">
        <mat-label>Méthode de paiement</mat-label>
        <mat-select name="ageGroup" formControlName="paymentMethod" required>
          <mat-option
            *ngFor="let paymentMethod of paymentMethods"
            [value]="paymentMethod"
          >
            {{ paymentMethod }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container
        *ngIf="
          userForm.get('paymentMethod').value === paymentMethodsEnum.OTHER ||
          userForm.get('paymentMethod').value === paymentMethodsEnum.MULTIPLE
        "
      >
        <mat-form-field
          *ngIf="
            userForm.get('paymentMethod').value === paymentMethodsEnum.MULTIPLE
          "
        >
          <mat-label>Carte</mat-label>
          <input
            matInput
            type="number"
            name="cardAmount"
            formControlName="cardAmount"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Chèque</mat-label>
          <input
            matInput
            type="number"
            name="checkAmount"
            formControlName="checkAmount"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Chèque Vacances</mat-label>
          <input
            matInput
            type="number"
            name="holidayCheckAmount"
            formControlName="holidayCheckAmount"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Espèce</mat-label>
          <input
            matInput
            type="number"
            name="cashAmount"
            formControlName="cashAmount"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Pass 92</mat-label>
          <input
            matInput
            type="number"
            name="pass92Amount"
            formControlName="pass92Amount"
          />
        </mat-form-field>
      </ng-container>

      <mat-form-field>
        <mat-label>Info supplémentaire</mat-label>
        <textarea
          matInput
          name="extraInfo"
          formControlName="extraInfo"
        ></textarea>
      </mat-form-field>

      <p class="color-primary-font margin-top-1">
        <strong>Inscriptions associées :</strong> (Prix total :
        {{ user.totalPrice | currency }})
      </p>
      <div
        *ngFor="let formule of user.subscriptionAssociated; let idx = index"
        class="margin-bottom-1"
      >
        <p>
          <span class="color-primary-font">{{ idx + 1 }} - </span>
          <span class="color-primary-font">Formule :</span>
          {{ formule.formuleTitle }}
        </p>
        <p>
          <span class="color-primary-font">Prénom :</span>
          {{ formule.firstName }}
        </p>
        <p>
          <span class="color-primary-font">Nom :</span>
          {{ formule.lastName }}
        </p>
        <p>
          <span class="color-primary-font">Groupe d'âge :</span>
          {{ formule.formuleAgeGroup }}
        </p>
      </div>
    </div>
  </form>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn" type="button" (click)="onDeleteUser()">
    Supprimer
  </button>
  <button mat-raised-button color="accent" (click)="onCancel()" type="button">
    Annuler
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    type="submit"
    [disabled]="userForm.invalid"
  >
    Modifier
  </button>
</div>
