@import "../../../styles/tools/variables";
@import "../../../styles/tools/mixins";

.main {
  background: $white;
}

.hero {
  display: flex;
  justify-content: center;
  background: url(../../../assets/mobile/edinho-aula-mobile.jpg);
  background-size: cover;
  background-position: center;

  p {
    margin: 2rem auto;
  }

  @include screen-sm {
    min-height: 400px;
    background-image: url(../../../assets/desktop/edinho-aula-desktop.jpg);

    p {
      margin: 12rem auto 0;
    }
  }

}

.tab__content {
  h1 {
    max-width: $screen-md;
    margin: 0 auto;
    padding: 1rem;
    color: $color-primary;

    @include screen-sm {
      padding: 2rem 1rem 1rem;
    }
  }

  p {
    max-width: $screen-md;
    margin: 0 auto;
    padding: 0 1rem 1rem;
  }

}

.bottom-image {
  width: 100%;
  min-height: 150px;
  background-size: cover;


  &.school {
    background-image: url(../../../assets/edinho-kid.jpg);

    @include screen-sm {
      min-height: 700px;
    }
  }

  &.kids {
    background-image: url(../../../assets/kids-bananeira.jpg);

    @include screen-sm {
      min-height: 580px;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}
