// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-theme-primary: (
  50: #665bc2,
  100: #584cbd,
  200: #4d42b3,
  300: #473da4,
  400: #403795,
  500: #393185,
  600: #342c77,
  700: #2d2768,
  800: #272159,
  900: #201c4a,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$ics-primary: mat-palette($custom-theme-primary);
$ics-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ics-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ics-theme: mat-light-theme($ics-primary, $ics-accent, $ics-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ics-theme);

/* You can add global styles to this file, and also import other style files */
@import './styles/tools/variables';
@import './styles/tools/mixins';

@import './styles/base/normalize';
@import './styles/base/base';

@import './styles/components/tabs';
@import './styles/components/button';
