<div matDialogTitle>
  <h2 class="title">
    <span class="color-primary-font"
      >International Capoeira School - France</span
    >
  </h2>
  <h3>Règlement Général</h3>
</div>
<mat-dialog-content class="dialog__content">
  <p>
    <strong class="color-primary-font">1 - Adhésion :</strong><br />
    L’adhèrent souscrit un abonnement avec l'association ACDO (Assocition Cordão
    de Ouro Ile-de-France), pour la saison 2021-2022. Une fois l’inscription
    validée, le paiement est dû, aucun remboursement ne pourra être effectué
    après le délai de rétractation de 15 jours. L’abonnement est personnel et ne
    peut être cédé. Il donne accès à l’ensemble des cours hebdomadaires, à
    l’espace privé du site www.icsfrance.fr et au passage de corde. Chaque
    adhérent se doit d’être muni de l’uniforme de capoeira ICSFRANCE dont
    l’achat se fait exclusivement auprès de l’assocition.<br />
    <br />
    <strong class="color-primary-font"> 2 - Déroulement des cours: </strong>
    <br />
    <strong>Capoeira Kids :</strong> Les activités enfants proposées intègrent
    le programme Capoeira Kids de l'association et sont coordonnées par le
    professeur enseignant. Le professeur est disponible pour toutes questions
    avant ou après le cours. Les parents ne peuvent pas intervenir ou parler aux
    enfants pendant les cours sans autorisation du professeur enseignant.<br />
    <strong> Important :</strong> Dans le respect des consignes des autorités
    locales et nationales, l'association peut être amenée à annuler des séances
    ou à les proposer sous format distanciel sans que cela altère les conditions
    d’adhésion. <br />
    <br />
    <strong class="color-primary-font"> 3 - Séances : </strong><br />
    La saison commence le 6 septembre 2021 et se termine le 30 juin 2022. Il n’y
    a pas de cours pendant les vacances scolaires et les jours fériés ainsi
    qu’éventuellement pendant les ponts dus à des jours fériés.<br />
    <br />
    <strong class="color-primary-font"> 4 - Communication : </strong><br />
    La communication de l’association passe uniquement par WhatsApp afin
    d’assurer une forte réactivité. Contactez l’association pour avoir accès au
    groupe.<br />
    <br />
    <strong class="color-primary-font"> 5 - Certificat médical : </strong><br />
    Chaque adhérent doit faire parvenir un certificat médical avant le 30
    septembre 2021 ou dans les 15 jours calendaires suivant son inscription.
    Sans certificat médical l’accès aux cours lui sera refusé sans recours
    possible.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onCancel()" type="button">
    Fermer
  </button>
  <!-- <button
    mat-raised-button
    color="primary"
    (click)="onDownload()"
    type="button"
  >
    Télécharger
  </button> -->
</mat-dialog-actions>
