<section class="contact-header">
  <p class="title-xl">
    {{ "Inscriptions" | uppercase }}
  </p>
</section>

<mat-horizontal-stepper [linear]="true" #stepper>
  <!-- FORMULES -->
  <mat-step [stepControl]="0" label="Choisissez vos formules ">
    <atom-spinner
      *ngIf="loading"
      [color]="'accent'"
      class="spinner"
    ></atom-spinner>
    <form [formGroup]="formuleForm" (ngSubmit)="onSubmit()">
      <ng-container formArrayName="formules">
        <div [ngClass]="{ hidden: loading }" class="card__container">
          <molecule-card-formule
            *ngFor="let formule of formules$ | async; let idx = index"
            [formule]="formule"
            [mode]="USER"
            [formuleIndex]="idx"
            (checked)="onToggleChecked($event)"
          ></molecule-card-formule>
        </div>

        <!-- <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
    </form> -->
        <div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="formuleForm.invalid"
            matStepperNext
          >
            Suivant
          </button>
        </div>
      </ng-container>
    </form>
  </mat-step>

  <!-- FORM -->
  <mat-step [stepControl]="1" label="Formulaire d'inscription">
    <div *ngFor="let formule of selectedFormules">
      {{ formule.title }}
    </div>
    <form [formGroup]="subscriptionForm">
      <div>
        <button
          type="button"
          mat-raised-button
          color="primary"
          matStepperPrevious
        >
          Retour
        </button>
        <button mat-raised-button type="submit" color="primary" matStepperNext>
          Suivant
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Paiement</ng-template>
    <p>You are now done.</p>
    <div class="btn__container">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<!-- <section class="deal-card__container">
  <div class="deal-card__wrapper">
    <div class="deal-card__group">
      <mat-card class="deal-card" *ngFor="let deal of classDeals">
        <mat-card-content class="deal-card__content"
          ><span class="color-primary bold">{{ deal.title }}</span>
          {{ deal.description }}</mat-card-content
        >
        <mat-card-footer class="deal-card__footer"
          ><span class="bold color-primary"
            >{{ deal.price }}€</span
          ></mat-card-footer
        >
      </mat-card>
    </div>
    <mat-card class="deal-card">
      <mat-card-content class="deal-card__content"
        >Bénéficiez de <span class="color-primary bold">-10%</span> sur le
        montant total pour toute inscription supplémentaire pour les adherents
        d'une même famille
      </mat-card-content>
    </mat-card>
  </div>
</section>
<section class="deal-options" *ngIf="!isLoading && showDealOptions">
  <div class="deal-options__content">
    <p class="deal-options__title">Choisissez une formule</p>
    <mat-radio-group class="radio-group" aria-label="Selectionnez une formule">
      <mat-radio-button
        *ngFor="let form of subscriptionForms"
        class="radio-button"
        [value]="form"
        (change)="subscriptionFormsOptionHandler($event)"
      >
        {{ form.title }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</section>
<section class="forms__container">
  <mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
  <p class="message" *ngIf="!isLoading && formSentSuccess">
    Merci, l'inscription a bien été effectuée.
  </p>
  <p class="message" *ngIf="!isLoading && formSentFailed">
    Une erreur est survenue. Veuillez réessayer.
  </p>
  <div class="btn-container" *ngIf="!isLoading && formSentSuccess">
    <atom-button
      *ngIf="formSentSuccess"
      class="btn"
      [text]="HOME_BTN_TEXT"
      (clickEvent)="onNavigateHome($event)"
    ></atom-button>
    <atom-button
      *ngIf="formSentSuccess"
      class="btn"
      [text]="PROGRAM_BTN_TEXT"
      (clickEvent)="onNavigatePrograms($event)"
    ></atom-button>
  </div>
  <div class="btn-container" *ngIf="!isLoading && formSentFailed">
    <atom-button
      *ngIf="formSentFailed"
      class="btn"
      [text]="RELOAD_BTN_TEXT"
      (clickEvent)="onReloadPage($event)"
    ></atom-button>
  </div>
  <mat-expansion-panel *ngIf="showKidForm && !isLoading" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Formulaire d'inscription Enfant / Adolescent
      </mat-panel-title>
    </mat-expansion-panel-header>
    <kids-subscription-form
      (sendKidsForm)="sendFirstForm($event)"
    ></kids-subscription-form>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="showAdultForm && !isLoading" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Formulaire d'inscription Adulte </mat-panel-title>
    </mat-expansion-panel-header>
    <adult-subscription-form
      (sendAdultForm)="sendAdultForm($event)"
    ></adult-subscription-form>
  </mat-expansion-panel>
</section> -->
