@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

:host {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - (56px + 132px));

  @include screen-sm {
    min-height: calc(100% - (64px + 114px));
  }
}

.deal-card__container {
  background: $color-primary;
  padding: 1rem;
}

.deal-card__wrapper {
  max-width: $screen-md;
  margin: 0 auto;
}

.deal-card__group {
  display: flex;
  flex-flow: column;

  @include screen-sm {
    flex-flow: row;
  }

  .deal-card {
    display: flex;
    flex-flow: column;
    flex: 1;
    margin: 0 0 1rem;

    @include screen-sm {
      &:not(:last-child) {
        margin: 0 1rem 1rem 0;
      }
    }

    .mat-card-content {
      flex: 1;
    }
  }
}

.deal-card__content {
  font-family: $fontPoppins;
  // font-size: 1rem;
}

.deal-card__footer {
  padding: 0 1rem 1rem;
  font-family: $fontPoppins;
  font-size: 1.2rem;
  text-align: center;
}

.deal-options {
  padding: 1rem 0 0;
}

.deal-options__content {
  @include screen-sm {
    padding: 1rem;
    max-width: $screen-md;
    margin: 0 auto;
    border-radius: 4px;
  }
}

.deal-options__title {
  text-align: center;
  font-weight: $fontWeightBold;
}

.forms__container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .spinner,
  .message {
    margin: 4rem auto;
  }

  .btn-container {
    display: flex;
    flex-flow: column;
    margin: 0 auto 4rem;

    @include screen-sm {
      flex-flow: row;
      justify-content: center;
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
}

.mat-expansion-panel {
  @include screen-sm {
    // padding: 0 3rem;
    max-width: $screen-sm;
    margin: 1rem auto;
    // border: 1px solid $color-secondary;
    border-radius: 4px;
  }
}

.mat-expansion-panel-header-title {
  font-size: 1.2rem;
  color: $color-primary;
  font-weight: $fontWeightBold;
  text-align: center;
  display: flex;
  justify-content: center;
}

// RADIO BUTTONS
.radio-group {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  justify-content: stretch;
  align-items: center;

  @include screen-md {
    flex-flow: row;
    justify-content: space-evenly;
  }
}

.radio-button {
  border-radius: 100px;
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  min-width: 280px;
  background-color: $color-primary;
  color: $white;
}

.subscription-amount__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;

  @include screen-sm {
    max-width: $screen-sm;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid $color-secondary;
  }

  .btn {
    margin: 1rem 0;
  }
}
